/*
.header {
  background-color: var(--primary);
  padding: var(--space4x) var(--space3x);
}

.header__logoLink,
.header__menuBtn {
  position: absolute;
}
.header__logoLink {
  left: 20px;
  top: 10px;
}
.header__menuBtn {
  right: 20px;
  top: 20px;
  z-index: 2;
}

.header__title,
.header__intro {
  border-bottom: 1px solid;
  padding-bottom: var(--space3x);
}
*/ 
