.gac{
  text-align: center;
  margin: 3%;
}
.gac1{
  text-align: center;
  margin: 2%;
}

.header_menuBtn {
  position: relative;
  z-index: 10;
}
.noscroll,
.noscroll body {
  overflow: hidden;
}

.flagfr {
  position: absolute;
  bottom: 23%;
  right: 28%;
}

.flaggb {
  position: absolute;
  bottom: 21.5%;
  left: 28%;
}

.text-align_menu{
  display: flex;
}

.btndumenu{
  border: none;
  background-color: #F7F1E9;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #F0E0E0;
  display: grid;
  place-content: center;
  z-index: 1;
}

.liste-menu {
  list-style: none;
}

header {
  background-color: #F7F1E9;
  border: 1px solid #A48E69;
}

.menu-header {
  margin: 0 20px;
  align-items: center;
  justify-content: center;

}

.logo_principal {
  width: 58%;
}

.logo-menu {
  width: 10%;
  position: absolute;
  top: 10px;
  right: 12px;
  background-color: #F7F1E9;
  cursor: pointer;
}

.logo-menu-f {
  width: 10%;
  position: absolute;
  top: 8px;
  right: 15px;
  background-color: #F0E0E0;
  cursor: pointer;
}


